.homeheader{
    display: flex;
    position: relative;
    width: 100%;
    height: 135px;
    background-color: #FBE9E9;
}
.homeheader .pic{
    position: absolute;
    top: 130px;
}
.homeheader .pic img{
    width: 100%;
}
.homeheader .Mainmenus {
    display: flex;
    /* position: absolute; */
    top: 10px;
    width: 100%;
    justify-content: space-evenly;
    margin-left: -30px;
}
.homeheader .Mainmenus .icon{
    position: relative;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.homeheader .Mainmenus .logo{
    position: relative;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.homeheader .Mainmenus .icon-logo{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}
.homeheader .Mainmenus .icon .icon-pic{
    width: 50px;
    padding-bottom: 10px;
}
.homeheader .Mainmenus .icon img{
    width: 100%;
    height: auto;
}
.homeheader .Mainmenus .icon .icon-text {
    display: inline-block;
    text-align: center;
}
.homeheader .Mainmenus .icon .icon-text a{
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    color: #4F0000;
}
.homeheader .second {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.homeheader .second .icon .icon-pic{
    width: 45px;
    padding-right: 10px;
    padding-top: 15px;
}
.homeheader .second .icon .icon-pic a{
    width: 45px;
    height: 45px;
}
.homeheader .second .icon .icon-pic img{
    width: 100%;
    vertical-align: middle;
}
@media screen and (max-width: 768px) {

    .homeheader{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .homeheader .Mainmenus{
        justify-content: flex-start;
    }
    .homeheader .Mainmenus .icon{
        display: none;
    }
    .homeheader .Mainmenus .logo {
        width: 100px;
        height: 100px;
        padding-left: 50px;
    }
    .homeheader .Mainmenus .logo img{
        width: 100%;
    }
    .homeheader .pic{
        display: none;
    }
    .homeheader .second {
        flex-direction: row;
    }
}

    input{
        display: none;
    }
    .main-header{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
        position: relative;
    }
    .homeheader .hb{
        width: 40px;
        height: 36px;
        background-color: rgb(255, 0, 115);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 15px;
        padding: 3px;
        border-radius: 3px;
        margin-right: 15px;
    }
    .homeheader .main-nav a{
        visibility: hidden;
        display: none
    }
    @media screen and (min-width: 768px){
    .homeheader .hb{
            display: none;
        }
    }
    .homeheader .hb span{
        width: 80%;
        height: 2px;
        background-color: white;
    }
    .homeheader .main-nav{
        display: none;
        position: absolute;
        background-color: #FBE9E9;
        top: 100%;
        left: 0;
        width: 100%;
    }
    .homeheader .main-nav a{
        display: block;
        color: #4F0000;
        padding: 10px;
        text-decoration: none;
        visibility: visible;
        padding: 20px;
        font-size: 20px;
    }
    .homeheader .main-nav a + a{
        border-top: 1px solid white;
    }
    #menu-switch:checked ~  .main-nav{
        display: block;
        z-index: 5;
    }
    #menu-switch:checked + .homeheader .hb{
        background-color: rgb(255, 198, 219);
    }