.container{
    width: 1200px;
    margin: 0 auto;
}
.about-section .background{
    height: 2210px;
}
.about-section .title-text{
    text-align: center;
    letter-spacing: 3px;
}
.about-section .title-text .big{ 
    font-size: 48px;
    display: block;
    padding: 100px 0 80px 0;
    color: #644713;
}
.about-section .title-text .small{
    font-size: 28px;
    color: #644713;
}
.about-section .cards{
    width: 100%;
    padding-top: 80px;
}
.about-section .cards .item-list .item{
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
}
.about-section .cards .item-list .item-texts{
    width: 500px;
    letter-spacing: 1px;
    line-height: 36px;
    align-content: center;
    font-size: 18px;
    color: #4F0000;
}
.about-section .cards .item-list .item-texts span{
    width: 500px;
    letter-spacing: 2px;
    line-height: 36px;
    align-content: center;
    font-size: 22px;
}
@media screen and (max-width: 768px){
    .about-section .background{
        height: 1900px;
    }
    .about-section .title-text .big{ 
        font-size: 28px;
        display: block;
        padding: 60px 0 50px 0;
        color: #644713;
    }
    .about-section .title-text .small{
        font-size: 16px;
        color: #644713;
        letter-spacing: 0;
        line-height: 30px;
    }
    .about-section .cards{
        width: 100%;
        padding: 20px 0;
    }
    .about-section .cards .item-list .item:nth-child(odd){
        /* display: block; */
        flex-direction: column-reverse;
    }
    .about-section .cards .item-list .item{
        /* display: none; */
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }
    .about-section .cards .item-list .item-texts{
        width: 100%;
        line-height: 30px;
        font-size: 16px;
        color: #4F0000;
        padding-top: 40px;
        text-align: center;
    }
    .about-section .cards .item-list .item-texts span{
        letter-spacing: 2px;
        line-height: 36px;
        align-content: center;
        font-size: 24px;
    }
    .about-section .cards .item-list .item-pic{
        width: 300px;
    }
    .about-section .cards .item-list .item-pic img{
        width: 100%;
    }
}

@media screen and (max-width: 430px){
    .about-section .background{
        height: 2200px;
    }
    .about-section .title-text .big{ 
        font-size: 28px;
        display: block;
        padding: 60px 0 50px 0;
        color: #644713;
    }
    .about-section .title-text .small{
        font-size: 16px;
        color: #644713;
        letter-spacing: 0;
        line-height: 30px;
    }
    .about-section .cards{
        width: 100%;
    }
    .about-section .cards .item-list .item{
        align-items: center;
    }
    .about-section .cards .item-list .item-texts{
        width: 100%;
        line-height: 30px;
        font-size: 16px;
        color: #4F0000;
        text-align: start;
    }
    .about-section .cards .item-list .item-texts span{
        letter-spacing: 2px;
        line-height: 36px;
        align-content: center;
        font-size: 24px;
    }
    .about-section .cards .item-list .item-pic{
        width: 300px;
    }
    .about-section .cards .item-list .item-pic img{
        width: 100%;
        vertical-align: middle;
        object-fit: cover;
    }
}
